<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm an engineer at NASA Marshall Space Flight Center, where I work on some of the most exciting and innovative projects in aerospace technology, such as the Space Launch System (SLS). 
          With a passion for problem-solving and pushing the boundaries of technology, I’m fortunate to contribute to projects that advance space exploration and scientific discovery.</p>
      </div>
      <div class="col-lg-4">
        <p>Beyond my professional work, I have a deep interest in software development, especially in creating mobile applications and exploring the fields of artificial intelligence
           and machine learning. Whether it’s building apps to streamline everyday tasks or experimenting with AI models, I enjoy using technology to create impactful solutions. </p>
      </div>
    
    </div>
  </div>
</section>
